<div class="row">
    <div class="col-lg-12 text-center m-t-md">
        <h2 class="dashboard-title">
            Resumen de eventos y operaciones pendientes
        </h2>      
    </div>
</div>
<br/>
<br />
<br />
<div class="row">  
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                Tarifas editables
            </div>
            <div class="panel-body list">
                <div id="no-more-tables">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>Id</th>
                                <th>Fecha desde</th>
                                <th>Fecha hasta</th>
                                <th>Vehículo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-title="Id">
                                    1
                                </td>
                                <td data-title="Fecha desde">
                                    14/05/2017
                                </td>
                                <td data-title="Fecha hasta">
                                    14/07/2017
                                </td>
                                <td data-title="Vehículo">
                                    Canal 11
                                </td>
                                <td data-title="Ver">
                                    <a href="">
                                        <i class="fa fa-external-link text-success"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                Tarifas pendiente de aprobación
            </div>
            <div class="panel-body list">
                <div id="no-more-tables">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>Id</th>
                                <th>Fecha desde</th>
                                <th>Fecha hasta</th>
                                <th>Vehículo</th>
                                <th>Ver</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-title="Id">
                                    1
                                </td>
                                <td data-title="Fecha desde">
                                    14/05/2017
                                </td>
                                <td data-title="Fecha hasta">
                                    14/07/2017
                                </td>
                                <td data-title="Vehículo">
                                    Canal 11
                                </td>
                                <td data-title="Ver">
                                    <a href="">
                                        <i class="fa fa-external-link text-success"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                Campañas con inconsistencias
            </div>
            <div class="panel-body list">
                <div id="no-more-tables">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>Id</th>
                                <th>Fecha alta</th>
                                <th>Nombre</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-title="Id">
                                    1
                                </td>
                                <td data-title="Fecha alta">
                                    14/05/2017
                                </td>
                                <td data-title="Nombre">
                                    Demo 1
                                </td>
                                <td data-title="Estado">
                                    Inconsistencias en tarifas
                                </td>
                                <td data-title="Ver">
                                    <a href="">
                                        <i class="fa fa-external-link text-success"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                Campañas pendiente de aprobación
            </div>
            <div class="panel-body list">
                <div id="no-more-tables">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>Id</th>
                                <th>Fecha alta</th>
                                <th>Nombre</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-title="Id">
                                    1
                                </td>
                                <td data-title="Fecha alta">
                                    14/05/2017
                                </td>
                                <td data-title="Nombre">
                                    Demo 1
                                </td>
                                <td data-title="Estado">
                                    Inconsistencias en tarifas
                                </td>
                                <td data-title="Ver">
                                    <a href="">
                                        <i class="fa fa-external-link text-success"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                Últimas certificaciones recibidas
            </div>
            <div class="panel-body list">
                <div id="no-more-tables">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>Campaña</th>
                                <th>Pauta</th>
                                <th>Ejecutada</th>
                                <th>Cod.Programa</th>
                                <th>Proveedor</th>
                                <th>Espacio</th>
                                <th>Costo unitario</th>
                                <th>Información adicional</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-title="Campaña">
                                   Demo
                                </td>
                                <td data-title="Pauta">
                                    10001
                                </td>
                                <td data-title="Ejecutada">
                                    100225
                                </td>
                                <td data-title="Cod.Programa">
                                    125
                                </td>
                                <td data-title="Proveedor">
                                    Mitre
                                </td>
                                <td data-title="Espacio">
                                    9hs a 18hs
                                </td>
                                <td data-title="Costo unitario">
                                    $ 18.50
                                </td>
                                <td data-title="Información adicional">
                                    Programa no pautado
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8">
                                    <a href="">
                                        Ver más...
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>  
</div>
