
<div class="hpanel">
    <div class="panel-body">
        <h5 class="font-light m-b-xs">
            Administración de campaña nro: {{entity.id}}
        </h5>
        <small>Fecha creacion: {{entity.createDate}}. Estado: {{entity.estado}}</small>
    </div>
</div>

<div class="hpanel hblue">
    <div class="panel-body">
        <form class="form-horizontal">
            
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default" ng-repeat="pauta in entity.pautas">
                    <div class="panel-heading" role="tab" id="heading{{pauta.id}}">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{pauta.id}}" target="_self" aria-expanded="true" aria-controls="collapse{{pauta.id}}">
                                Pauta nro <b>{{pauta.codigo}}</b>. Estado: <b>{{pauta.estado}}</b>
                            </a>
                            <button>Aprobar</button>
                            <button>Rechazar</button>
                        </h4>
                    </div>
                    <div id="collapse{{pauta.id}}" class="panel-collapse collapse in"  role="tabpanel" aria-labelledby="heading{{pauta.id}}">
                        <div class="panel-body">
            
                            <div id="no-more-tables">
                                <table class="col-sm-12 table-bordered table-striped table-condensed cf">
                                    <thead class="cf">
                                        <tr>                                                                                       
                                            <th>
                                                Código programa
                                            </th>
                                            <th>
                                                Proveedor
                                            </th>
                                            <th>
                                                Espacio
                                            </th>
                                            <th>
                                                Tema
                                            </th>
                                            <th>
                                                Costo unitario
                                            </th>
                                            <th>
                                                Detalle Tarifa asociada
                                            </th>                                                                                 
                                        </tr>
                                    </thead>
                                    <tbody style="font-size: 11px;">
                                        <tr ng-repeat="item in pautas[].data">
                                            <td data-title="Código programa">
                                                <span>{{tarifa.medioNombre}}</span>
                                            </td>
                                            <td data-title="Proveedor">
                                                <span>{{tarifa.medioNombre}}</span>
                                            </td>
                                            <td data-title="Espacio">
                                                <span>{{tarifa.medioNombre}}</span>
                                            </td>
                                            <td data-title="Tema">
                                                <span>{{tarifa.medioNombre}}</span>
                                            </td>
                                            <td data-title="Costo unitario">
                                                <span>{{tarifa.medioNombre}}</span>
                                            </td>
                                            <td data-title="Tarifa asociada">
                                                <span>{{tarifa.medioNombre}}</span>
                                            </td>                                          
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row pdm-pager">
                                    <div class="col-sm-12">
                                        <div class="text-center">
                                            <ul class="pagination">
                                                <li class="previous" ng-class="{'disabled': isFirstPage()}">
                                                    <a href="javascript:void(0)" ng-click="goToPreviousPage()">Anterior</a>
                                                </li>
                                                <li class="active">
                                                    <a href="javascript:void(0)">Página {{filter.currentPage}} de {{filter.pageCount}} - Registros: <b>{{filter.count}}</b></a>
                                                </li>
                                                <li class="next" ng-class="{'disabled': isLastPage()}">
                                                    <a href="javascript:void(0)" ng-click="goToNextPage()">Siguiente</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>              
            </div>
                                                                                           

            <div class="alert alert-danger" ng-if="result.hasErrors">
                <i class="fa fa-bolt"></i>
                <div ng-repeat="message in result.messages">{{message}}</div>
            </div>
        </form>
    </div>
    <div class="panel-footer text-right">
        @*<button type="button" class="btn btn-primary" ng-click="save()">Guardar</button>*@
    </div>
</div>





