
<div class="hpanel">
    <div class="panel-body">
        <h5 class="font-light m-b-xs">
            Administración de campaña  {{entity.codigo}} - {{entity.nombre}}
        </h5>
        <small>Fecha creacion: {{entity.createDate}}. Estado: {{entity.estado}}</small>
        <span style="float: right; position: relative; top: -3px;">
            <button class="btn btn-primary btn-xs" ng-show="entity.estado == 'Pendiente'" ng-click="changeEstadoCampania('Aprobada')">Aprobar</button>
            <button class="btn btn-danger btn-xs" ng-show="entity.estado == 'Pendiente' || entity.estado == 'InconsistenciasEnPautas' " ng-click="confirmRechazoCampania()">Rechazar</button>
        </span>      
    </div>
</div>

<div class="hpanel hblue">
    <div class="panel-body">
        <form class="form-horizontal">
            
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default" ng-repeat="pauta in entity.pautas">
                    <div class="panel-heading" role="tab" id="heading{{pauta.id}}">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{pauta.id}}" target="_self" aria-expanded="true" aria-controls="collapse{{pauta.id}}">
                                Pauta nro <b>{{pauta.codigo}}</b>. Estado: <b>{{pauta.estado}}</b>
                                <i class="fa fa-exclamation-circle" style="color: red;" ng-if="pauta.estado == 'ProgramasNoTarifados' || pauta.estado == 'DiferenciaEnMontoTarifas'"></i>
                            </a> 
                            <span style="float: right; position: relative; top: -3px;">
                                <button class="btn btn-primary btn-xs" ng-show="pauta.estado == 'Pendiente'" ng-click="changeEstadoPauta(pauta, 'Aprobada')">Aprobar</button>
                                <button class="btn btn-danger btn-xs" ng-show="pauta.estado == 'Pendiente' || pauta.estado == 'ProgramasNoTarifados' || pauta.estado == 'DiferenciaEnMontoTarifas'" ng-click="confirmRechazoPauta(pauta)">Rechazar</button>
                            </span>                                                
                        </h4>
                    </div>
                    <div id="collapse{{pauta.id}}" class="panel-collapse collapse in"  role="tabpanel" aria-labelledby="heading{{pauta.id}}">
                        <div class="panel-body">

                            <div id="no-more-tables">
                                <table class="col-sm-12 table-bordered table-striped table-condensed cf">
                                    <thead class="cf">
                                        <tr>
                                            <th style="width: 15%;">
                                                Código programa
                                            </th>
                                            <th style="width: 25%;">
                                                Proveedor
                                            </th>
                                            <th style="width: 25%;">
                                                Espacio
                                            </th>
                                            <th style="width: 10%;">
                                                Tema
                                            </th>
                                            <th style="width: 10%;">
                                                Costo unitario
                                            </th>
                                            <th style="width: 20%;">
                                                Detalle Tarifa asociada
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody style="font-size: 11px;">
                                        <tr ng-repeat="item in pautas[pauta.id].data">
                                            <td data-title="Código programa">
                                                <span>{{item.codigoPrograma}}</span>
                                            </td>
                                            <td data-title="Proveedor">
                                                <span>{{item.proveedor}}</span>
                                            </td>
                                            <td data-title="Espacio">
                                                <span>{{item.espacio}}</span>
                                            </td>
                                            <td data-title="Tema">
                                                <span>{{item.tema}}</span>
                                            </td>
                                            <td data-title="Costo unitario">
                                                <span>{{item.costoUnitario | currency}}</span>
                                            </td>
                                            <td data-title="Tarifa asociada" style="text-align: center;">
                                                <span>
                                                    <i title="Tarifa NO asociada" class="fa fa-exclamation-circle" style="color: red;" ng-if="!item.tarifa"></i>
                                                    <i title="Diferencia en tarifa" class="fa fa-search" style="color: orange;" ng-if="item.tarifa && item.diferenciaEnMontoTarifas" ng-click="openTarifaModal(item.tarifa)"></i>
                                                    <i title="Tarifa asociada" class="fa fa-search" style="color: greenyellow;" ng-if="item.tarifa && !item.diferenciaEnMontoTarifas" ng-click="openTarifaModal(item.tarifa)"></i>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row pdm-pager">
                                    <div class="col-sm-12">
                                        <div class="text-center">
                                            <ul class="pagination">
                                                <li class="previous" ng-class="{'disabled': isFirstPage(pauta.id)}">
                                                    <a href="javascript:void(0)" ng-click="goToPreviousPage(pauta.id)">Anterior</a>
                                                </li>
                                                <li class="active">
                                                    <a href="javascript:void(0)">Página {{pautas[pauta.id].filter.currentPage}} de {{pautas[pauta.id].filter.pageCount}} - Registros: <b>{{pautas[pauta.id].filter.count}}</b></a>
                                                </li>
                                                <li class="next" ng-class="{'disabled': isLastPage(pauta.id)}">
                                                    <a href="javascript:void(0)" ng-click="goToNextPage(pauta.id)">Siguiente</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>              
            </div>
                                                                                           

            <div class="alert alert-danger" ng-if="result.hasErrors">
                <i class="fa fa-bolt"></i>
                <div ng-repeat="message in result.messages">{{message}}</div>
            </div>
        </form>
    </div>
    <div class="panel-footer text-right">
        @*<button type="button" class="btn btn-primary" ng-click="save()">Guardar</button>*@
    </div>
</div>


<div class="modal fade pdm" id="rechazoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width: 500px;">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Ingrese el motivo de rechazo</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal ng-pristine ng-valid">                    
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Motivo</label>
                        <div class="col-lg-9">                            
                            <textarea class="form-control" style="width: 100%;" ng-model="motivo"></textarea>                            
                        </div>
                    </div>                
                </form>

                <div class="alert alert-danger" ng-if="resultModal.hasErrors">
                    <i class="fa fa-bolt"></i>
                    <div ng-repeat="message in resultModal.messages">{{message}}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="changeEstadoCampania('Rechazada')" ng-if="!currentPauta">Aceptar</button>
                <button type="button" class="btn btn-primary" ng-click="changeEstadoPauta(currentPauta, 'Rechazada')" ng-if="currentPauta">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade pdm" id="tarifaModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width: 500px;">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Detalle de tarifa</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal ng-pristine ng-valid">
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Código de programa</label>
                        <div class="col-lg-8">
                            <span style="position: relative; top: 7px;">{{currentTarifa.codigoPrograma}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Medio</label>
                        <div class="col-lg-8">
                            <span style="position: relative; top: 7px;">{{currentTarifa.medioNombre}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Plaza</label>
                        <div class="col-lg-8">
                            <span style="position: relative; top: 7px;">{{currentTarifa.plazaCodigo}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Vehículo</label>
                        <div class="col-lg-8">
                            <span style="position: relative; top: 7px;">{{currentTarifa.vehiculoNombre}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Descripción</label>
                        <div class="col-lg-8">
                            <span style="position: relative; top: 7px;">{{currentTarifa.descripcion}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Importe</label>
                        <div class="col-lg-8">
                            <span style="position: relative; top: 7px;"><b>{{currentTarifa.importe | currency}}</b></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Hora desde</label>
                        <div class="col-lg-8">
                            <span style="position: relative; top: 7px;">{{currentTarifa.horaDesdeFormatted}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Hora hasta</label>
                        <div class="col-lg-8">
                            <span style="position: relative; top: 7px;">{{currentTarifa.horaHastaFormatted}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Orden de compra</label>
                        <div class="col-lg-8">
                            <span style="position: relative; top: 7px;">{{currentTarifa.ordenDeCompra}}</span>
                        </div>
                    </div>                   
                </form>              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>                
            </div>
        </div>
    </div>
</div>


