<div class="hpanel hblue">
    <div class="panel-heading hbuilt">
        Listado de plazas
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-10">
                <div class="input-group m-b">
                    <input type="text" class="input-sm form-control" placeholder="Buscar" ng-model="filter.multiColumnSearchText" ng-debounce="1200">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
            <div class="col-sm-2 text-right">
                <a href="javascript:void(0)" class="btn btn-success " ng-click="create()"><i class="fa fa-plus"></i> Nueva</a>
            </div>
        </div>
        <div class="alert alert-danger" ng-if="result.hasErrors">
            <i class="fa fa-bolt"></i>
            <div ng-repeat="message in result.messages">{{message}}</div>
        </div>
        <div class="gridStyleLarge" ng-grid="gridOptions"></div>
    </div>
</div>

