@{
    Layout = "../Shared/_Blank.cshtml";
}

<div class="text-center m-t-lg clearfix wrapper-lg " id="galleryLoading">
    <h3 class="text-muted">No posee los permisos para ingresar a la aplicación.</h3>    
</div>
