
<html lang="en" class="bg-dark js no-touch no-android chrome no-firefox no-iemobile no-ie no-ie10 no-ie11 no-ios no-ios7 ipad">
<head>
    <meta charset="utf-8">
    <title>Planificación de Medios</title>
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    @Styles.Render("~/Content/css/styles")
    @Scripts.Render("~/bundles/scripts/basicScripts")
</head>
<body class="blank">
    <div class="color-line"></div>    

    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <form action="#" id="loginForm">
                            @RenderBody()
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>Planificación de Medios</strong> @DateTime.Now.Year
            </div>
        </div>
    </div>

</body>
</html>
