<div class="hpanel hblue">
    <div class="panel-heading hbuilt">
        {{operation}}
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-2 control-label">Nombre</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" ng-model="entity.nombre">
                </div>
            </div>    
            <div class="form-group">
                <label class="col-lg-2 control-label">Medio</label>
                <div class="col-lg-10" style="position: relative; top: 3px;">
                    <ui-select ng-model="entity.medio" theme="select2" style="width: 100%;" append-to-body="true">
                        <ui-select-match>{{$select.selected.nombre}}</ui-select-match>
                        <ui-select-choices refresh-on-active="true" refresh="getSelectSource($select)" refresh-delay="300" repeat="item in selectList | filter: $select.search">
                            <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                            <small>
                                <span><b>Tipo de espacio: </b>{{item.tipoEspacio}}. <b>Descripción:</b> {{item.descripcion}}.</span>
                            </small>
                            <div ng-if="$index == $select.items.length-1 && currentPage < pageCount">
                                <button class="btn btn-xs btn-info"
                                        style="width: 100%; margin-top: 20px;"
                                        ng-click="getSelectSource($select, $event);">
                                    Siguiente
                                </button>
                            </div>
                        </ui-select-choices>
                    </ui-select>          
                </div>
            </div>       
            <div class="form-group">
                <label class="col-lg-2 control-label">Descripción</label>
                <div class="col-lg-10">
                    <textarea class="form-control" ng-model="entity.descripcion"></textarea>
                </div>
            </div>

            <div class="alert alert-danger" ng-if="result.hasErrors">
                <i class="fa fa-bolt"></i>
                <div ng-repeat="message in result.messages">{{message}}</div>
            </div>
        </form>
    </div>
    <div class="panel-footer text-right">
        <button type="button" class="btn btn-primary" ng-click="save()">Aceptar</button>
        <button type="button" class="btn btn-default" ng-click="list()">Volver</button>
    </div>
</div>





